@{
  ViewData["Title"] = "Privacy Policy";
  ViewData["Description"] = "Privacy policy forr holidays.mcshaz";
}

<main class="container-fluid">
  <h3>Consent</h3>

  <p>
    By using our website, you hereby consent to our Privacy Policy and agree to its terms.
  </p>

  <p>
    This policy may change. An email will be sent if any changes are made to this policy.
  </p>

  <h4>Information we collect</h4>
  <p>
    Contact nformation is only collected from users who register (sign up for an api_key).
    The information collected from registered users includes email and password, with the option to add a username. Two factor authentication is available if you choose via a Google&trade; or Microsoft&trade; authenticater app installed on your device.
  </p>
  <p>
    If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.
  </p>
  <p>
    We use the information we collect in various ways, including to:
  </p>
  <ul>
    <li>Provide, operate, and maintain our website</li>

    <li>
      Understand and analyze how you use our website
    </li>
    <li>
      Communicate with you directly by sending you emails
    </li>
    <li>
      Find and prevent fraud
    </li>
  </ul>
  <p>
    Your contact details will not be shared with anyone (including advertisers) or onsold.
    You may delete your account and all associated data at any time from within your account management area.
    Deleting your personal data is irreversible.
  </p>
  <h4>Log Files</h4>

  <p>
    holidays.mcshaz.com uses Cookies to function.
    These cookies are used for security and to monitor our fair use policy.
    These cookies only last for the duration of your browsing session (session cookies).
    They do not track you within or across websites (<em>no</em> tracking cookies).
  </p>

  <p>
    API requests, made either as a logged in user or via you api_key, will be logged.
    This includes logging the IP address the web request was sent from.
    This is so that we can contact you (or limit the number of requests)
    if your use is creating an excessive load on the server.
  </p>
</main>
